
#game {
    margin: auto;
    width: 98vw;
    height: 98vh;
    border: 2px solid magenta;
    position: relative;
    color: lightgrey;
    margin-top: 30vh;
}

#gameName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: magenta;
}


#hud {
  position: absolute;   
  top: 2vh;
  right: 5vw;
  color: rgb(58, 12, 64);
  font-size: 1em;
  text-align: right;
  z-index: 910;
  pointer-events: none; 
  white-space: pre-line;
}

#popup {
  position: absolute;
  top: 7%;
  left: 5%;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 5px;
  z-index: 990;
  text-align: center;
  color: rgb(72, 3, 72);
}

.popup-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px; 
}

#button {
  border: 2px solid magenta;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  padding: 4px 4px;
  font-size: 1.2em;
}

#continueBtn {
  border: 2px solid magenta;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  padding: 4px 4px;
  font-size: 1.2em;
}

#alertGameOver {
    white-space: pre-line; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 5em;
    z-index: 920;
    text-align: center;
}

#instructionStart {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgb(37, 25, 72);
    white-space: pre-line;
    text-align: center;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#myShip {
    object-fit: contain;   
    object-position: center;
    width: 7vw;
    bottom: 0.5vh;
    position: absolute;
}

#myShooter {
    width: 2vw;
    bottom: 19vh;
    left: 0;
    position: absolute;
}

#bulletMine {
    position: absolute;
}

#bullet {
    position: absolute;
}

#asteroid1 {
    width: 10vw;
    bottom: 30vh;
    left: 4%;
    position: absolute;
}

#asteroid2 {
    width: 10vw;
    bottom: 30vh;
    left: 30%;
    position: absolute;
}

#asteroid3 {
    width: 10vw;
    bottom: 30vh;
    left: 60%;
    position: absolute;
}

#asteroid4 {
    width: 10vw;
    bottom: 30vh;
    right: 5%;
    position: absolute;
}
