
#game {
    margin: auto;
    width: 98vw;
    height: 98vh;
    border: 2px solid magenta;
    position: relative;
    color: lightgrey;
    margin-top: 30vh;
}

#gameName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: magenta;
}

#hud {
  position: fixed;   
  top: 2vh;
  right: 5vw;
  color: rgb(58, 12, 64);
  font-size: 1em;
  text-align: right;
  z-index: 10000;
  white-space: pre-line;
}

#restartButton {
    position: fixed;
    top: 2vh;
    left: 10vw;
    color: rgb(64, 16, 70);
    padding: 0.2em;
    border-radius: 1em;
    z-index: 9996;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid magenta;
}

#stopButton {
    position: fixed;
    top: 2vh;
    left: 2vw;
    color: rgb(64, 16, 70);
    padding: 0.2em;
    border-radius: 1em;
    z-index: 9996;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid magenta;
}


#alertGameOver {
    white-space: pre-line; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 5em;
    z-index: 9999;
    text-align: center;
}

#instructionStart {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgb(37, 25, 72);
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#myShip {
    object-fit: contain;   /* ensures it scales without distortion */
    object-position: center;
    width: 7vw;
    bottom: 0.5vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#myShooter {
    width: 2vw;
    bottom: 19vh;
    left: 0;
    position: absolute;
}

#bulletMine {
    position: absolute;
}

#bullet {
    position: absolute;
}

#asteroid1 {
    width: 10vw;
    bottom: 30vh;
    left: 4%;
    position: absolute;
}

#asteroid2 {
    width: 10vw;
    bottom: 30vh;
    left: 30%;
    position: absolute;
}

#asteroid3 {
    width: 10vw;
    bottom: 30vh;
    left: 60%;
    position: absolute;
}

#asteroid4 {
    width: 10vw;
    bottom: 30vh;
    right: 5%;
    position: absolute;
}
